* {
    box-sizing: border-box;
}

body {
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.square {
    width: 24px;
    height: 24px;
    margin: 2px;
    background: #fdfcf8;
    box-shadow: 0 0 2px #A9A9A8;
    transition: 2s ease;
}

.square:hover {
    transition-duration: 0s;
}